:root {
    --primary-color: #1c366b;
    --secondary-color: #bd221c;
    --dark-color: #000000;
    --light-color: #c4cfd0;
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: #e5e5e5;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}

.bsicon {
    color: #7952b3;
}

.jsicon {
    color: #f0db4f;
}

.html5icon {
    color: #F06529;
}

.cssicon {
    color: #264de4;
}

footer .social>a {
    color: var(--light-color);
    opacity: 0.75;
}

footer .social>a:hover {
    opacity: 0.9;
    color: var(--secondary-color)
}

.checklist>li i {
    color: var(--primary-color)
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */